
<div class="col-md-4">
    <hr>
    <hr>
    <h2>GLP Survey</h2>
    
    <button type="button" class="btn btn-primary pull-right" ng-click="takeSurvey()" ng-hide="successInfo">Take the Survey</button>
    
    <!-- success information/alert -->
    <div class="alert alert-success alert-dismissable" ng-show="successInfo">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Thank you for completing the survey!</strong>.
    </div>
    
</div>

<!-- survey detail modal dialog -->
<div class="modal fade" id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">GLP Questions Here</h4>
            </div>
            
            <div class="modal-body">

                
                
                <!-- input box -->
                <div id="quiz" ng-controller="quizCtrl">
    <h1 class="center">{{quiz.name}}</h1>
    <hr />
    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="question">
                <h2>{{currentPage}}. {{question.Name}}</h2>
                <div class="options">
                    <div ng-repeat="Option in question.Options">
                        <label for="{{Option.Id}}" ng-click="onSelect(Option);">
                            <input id="{{Option.Id}}" type="checkbox" ng-model="Option.Selected" />
                            {{Option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="quizNav">
            <div>
                <button class="btn btn-default" ng-click="goTo(1);">First</button>
                <button class="btn btn-default" ng-click="goTo(currentPage - 1);">Prev</button>
                <button class="btn btn-default" ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-default" ng-click="goTo(totalItems);">Last</button>
            </div>
            <br />
            <pagination direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div class="review" ng-show="mode=='review'">
        <div ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
    </div>
    <div class="result" ng-show="mode=='result'">
        <h2>Quiz Result</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h3>{{$index + 1}}. {{question.Name}}</h3>
                <div class="result-options">
                    <div ng-repeat="Option in question.Options">
                        <label for="{{Option.Id}}" ng-click="onSelect(Option);" class="{{ (Option.Selected == Option.IsAnswer)? 'result-correct': 'result-incorrect' }}">
                            <input id="{{Option.Id}}" type="checkbox" disabled="disabled" ng-model="Option.Selected" />
                            {{Option.Name}}
                        </label>
                    </div>
                </div>
                <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</h4>
            </div>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
   <!--  <hr />
    <div class="" ng-show="mode!='result'">
        <button class="btn btn-default" ng-click="mode = 'quiz'">Quiz</button> 
        <button class="btn btn-default" ng-click="mode = 'review'">Review</button> 
        <button class="btn btn-default" ng-click="onSubmit();">Submit Quiz</button>
    </div> -->
</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addButton"
                        data-loading-text="Sending..." ng-click="addSurvey()">Send results</button>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
